.headerContainer {
    z-index: 1000;
    background: rgb(12, 12, 12);
    color: rgb(230, 230, 230);
    /* position: relative; */
    user-select: none;
    min-height: 40px;
    position: sticky;
    top: 0;
}
.headerContainer::before {
    content: "";
    border-bottom: 1px solid rgb(77, 77, 77);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
}
.header {
    line-height: 1.625;
    margin: 0px;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: inherit;
    padding-bottom: 40px;
    overflow: hidden;
}
.headerGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: minmax(0px, auto);
    gap: 16px;
    height: auto;
    margin: 0px auto;
    z-index: 1;
    background: inherit;
    position: absolute;
    left: 0px;
    right: 0px;
    width: calc(100% - 80px);
}
.headerFlex {
    min-width: 0px;
    grid-column-end: span 4;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
}
.cnnIconCon {
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    line-height: 0;
}
.cnnIcon {
    color: rgb(12, 12, 12);
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: underline rgb(230, 230, 230);
}
.cnnIconbadge {
    width: 40;
    height: 40;
    fill: rgb(204, 0, 0);
}
.navFlex {
    margin-left: 16px;
    line-height: 1.625;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.navs {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
}
.navItem {
    padding: 0px;
    text-align: center;
}
.navItemA {
    text-decoration: none;
    transition: color 0.4s ease 0s;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: rgb(230, 230, 230);
    line-height: 12px;
    font-size: 14px;
    letter-spacing: 0px;
    margin: 0px 0px 0px 16px;
}
.flexSpace {
    flex: 1 1 0%;
}
.iconBox1 {
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    display: inherit;
}
.buttons {
    margin: 0px -2px -3px 7px;
    padding: 9px;
    background: transparent;
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0px;
    line-height: 0;
    cursor: pointer;
}
.iconBox2 {
    display: inherit;
}
.iconBoxCon {
    margin-left: 16px;
    cursor: pointer;
    margin-top: 8px;
}
.iconBox3 {
    order: unset;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    display: inherit;
}
.closeBtn {
    display: none;
}
.hiddenNav {
    position: absolute;
    width: 100%;
    z-index: 100;
    display: none;
}
.hiddenNav.shown {
    display: block;
}
@media screen and (max-width: 1024px) {
    .navs,
    .iconBox2 {
        /* margin-left: 16px; */
        display: none;
    }
}
