section {
    /* padding: 15px 0 0; */
}
.secondNavContainer {
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    position: relative;
}
.secondNav {
    box-sizing: border-box;
    /* float: left; */
    position: relative;
}
.secondUl {
    position: relative;
    z-index: 9;
    
}
.secondUl > li {
    display: inline-block;
}
.secondUl > li > h3 {
    font-weight: 500;
    font-size: 14px;
    padding-right: 0;
}
.secondUl > li > h3 > a::after {
    color: #d9d9d9;
    padding: 0 8px;
    content: "|";
}
.fontColor {
    color: #e30000;
}
.secondList {
    padding: 7px 0;
    position: relative;
}
@media screen and (max-width: 1024px) {
    .secondNavContainer {
        overflow: hidden;
    }
}
@media screen and (max-width: 640px) {
    .secondNav {
        margin-right: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        clear: right;
    }
}
@media screen and (max-width: 960px) {
    .secondNav {
        margin-right: 0;
        /* width: 33.333%; */
        padding-left: 0;
        padding-right: 13.33333px;
        clear: left;
    }
}
