.footer {
    background: rgb(12, 12, 12);
    color: rgb(230, 230, 230);
    padding: 24px 0px;
    width: 100%;
    position: relative;
}
.grid {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(0px, 1fr)); */
    grid-auto-flow: row;
    grid-auto-rows: minmax(0px, auto);
    gap: 16px;
    height: auto;
    margin: 0px 16px;
}
.searchGrid {
    height: 100%;
    min-width: 0px;
    margin-bottom: 32px;
    grid-column-end: span 4;
}
form {
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: 0px;
    color: rgb(77, 77, 77);
}
input {
    border-radius: 3px;
    border: 1px solid rgb(77, 77, 77);
    width: 100%;
    padding: 0px 8px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: 14px;
    height: 35px;
    text-decoration: none;
    box-sizing: border-box;
    appearance: textfield;
}
.searchButton {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 24px;
    color: inherit;
    background-color: transparent;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    font-size: 0px;
    cursor: pointer;
}
.SearchText {
    color: inherit;
    font-weight: 700;
    line-height: inherit;
    margin: 0px;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.svgBox {
    display: none;
    margin-left: 8px;
}
.footerMenuCon {
    height: 100%;
    min-width: 0px;
    grid-column-end: span 4;
}
.footNav {
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
}
.footMenuHole {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
}
.footMenu {
    padding: 0px;
    text-align: center;
    margin-top: 16px;
    width: auto;
}
.footMenu:first-child {
    margin-top: 0px;
}
.footMenuText {
    text-decoration: none;
    transition: color 0.4s ease 0s;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: rgb(230, 230, 230);
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 12px;
}
.footUl {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: none;
}
.footLi {
    padding: 0px;
}
.footA {
    text-decoration: none;
    transition: color 0.4s ease 0s;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: rgb(230, 230, 230);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 10px;
}
.snsContainer {
    display: flex;
    flex-flow: row wrap;
}
.snsBox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}
.snsCnn {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.snsIcons {
    display: flex;
    color: rgb(230, 230, 230);
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    padding-top: 10px;
}
.follow {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.line {
    display: none;
    margin-left: 16px;
    margin-right: 16px;
    height: 24px;
    border-left: 1px solid rgb(77, 77, 77);
}
.icons {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 16px 0px 0px;
}
.icons > li {
    margin: 0px 16px 0px 0px;
    padding-bottom: 0px;
}
.aIcon {
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: underline rgb(230, 230, 230);
    fill: currentcolor;
    color: currentcolor;
    height: 24px;
    display: block;
}
.aIcon > svg {
    width: 24px;
    height: 24px;
}
.upLine {
    display: none;
}
.upLineD {
    border: 0px;
    height: 1px;
    width: 100%;
    margin: 32px auto;
    background: rgb(77, 77, 77);
}
.cnnInfoMenu {
    margin-top: 24px;
    margin-bottom: 24px;
}
.cnnMenuUl {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: inherit;
    flex-flow: row wrap;
}
.cnnMenuLi{
    padding: 0px;
    text-align: center;
    margin: 0px 16px 4px 0px;
}
.cnnMenuA{
    text-decoration: none;
    transition: color 0.4s ease 0s;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: rgb(230, 230, 230);
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}
.copyright{
    color: rgb(230, 230, 230);
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
@media screen and (min-width: 1280px) {
    .grid {
        max-width: 1248px;
    }
    .footMenu {
        width: 13%;
    }
    .footMenu:nth-child(-n + 7) {
        margin-top: 0px;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        padding: 64px 0px;
    }
    .grid {
        max-width: 964px;
        gap: 32px;
        grid-template-columns: repeat(12, minmax(0px, 1fr));
    }
    .searchGrid {
        grid-column-end: span 12;
    }
    .searchButton {
        width: 80px;
        right: 4px;
    }
    .SearchText {
        font-size: 14px;
    }
    .svgBox {
        display: block;
    }
    .footerMenuCon {
        grid-column-end: span 12;
    }
    .footBox {
        margin-bottom: 32px;
    }
    .footNav {
        transition: opacity 0.5s ease 0s;
        opacity: 1;
        z-index: 1;
    }
    .footMenuHole {
        flex-flow: row wrap;
    }
    .footMenu {
        flex-basis: initial;
        text-align: left;
        margin-right: 14px;
        margin-top: 24px;
    }
    .footMenuText {
        display: inline-block;
        font-weight: 700;
    }
    .footUl {
        display: block;
        font-size: 14px;
        line-height: normal;
    }
    .footLi {
        margin: 4px 0px 0px;
    }
    .snsBox {
        align-items: flex-start;
        margin-bottom: 0px;
        width: 50%;
    }
    .snsCnnLogo {
        display: flex;
        height: 40px;
        -webkit-box-align: center;
        align-items: center;
        overflow: hidden;
        line-height: 0;
    }
    .snsCnn {
        -webkit-box-pack: center;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
    }
    .snsIcons {
        flex-direction: row;
    }
    .line {
        display: block;
    }
    .icons {
        margin: 0px;
    }
    .icons > li {
        margin: 0px 16px 0px 0px;
    }
    .aIcon {
        display: block;
    }
    .upLine {
        display: inherit;
    }
    .cnnMenuUl {
        flex-flow: row wrap;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .cnnMenuA{
        display: inline-block;
    }
    .copyright{
        text-align: left;
    }
}
@media screen and (max-width: 960px) {


}

@media screen and (min-width: 768px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        gap: 24px;
        grid-template-columns: repeat(8, minmax(0px, 1fr));
    }
    .searchGrid {
        grid-column-end: span 8;
    }
    .footerMenuCon {
        grid-column-end: span 8;
    }

}
