.bannerWrap {
    background-color: #1a1a1a;
    width: 100%;
    height: 680px;
    .bannerHeader {
        color: white;
        text-align: left;
        padding: 15px 0 0 0;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .bannerTitle {
        font-family: CNN, Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
        line-height: 1.25;
        .bannerSpan {
            display: inline-block;
            height: 16px;
            vertical-align: bottom;
            &::after {
                height: 1px;
                content: "";
                display: inline-block;
                position: absolute;
                width: 73vw;
                border-bottom: 4px solid #c00;
                border-top: 4px solid #c00;
            }
        }
    }
    .bannerBox {
        position: relative;
        margin: auto;
        height: 500px;
        width: 648px;
        overflow: hidden;
        .bannerImg {
            position: absolute;
            .bannerUl {
                display: flex;
                padding: 0;
                .bannerLi {
                    text-decoration: none;
                    list-style: none;
                    img {
                        width: 650.46px;
                    }
                }
            }
        }
        .bannerBtns {
            color: rgb(255, 255, 255);
            font-size: 45px;
            display: flex;
            z-index: 100;
            margin: auto;
            align-items: center;
            position: absolute;
            margin-top: 160px;
            .prevBtn {
                left: 0;
                width: 50px;
            }
            .nextBtn {
                width: 50px;
                right: 0;
                margin-left: 550px;
            }
        }
        .bannerImgBtns {
            width: 650px;
            display: flex;
            height: 85px;
            align-items: flex-start;
            margin-top: 400px;
            overflow: hidden;
            .imgBtn {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
